// COLORS
$color-primary: #1ab188;
$color-primary-light: lighten($color-primary, 5%);
$color-primary-dark: darken($color-primary, 5%); 

$color-gray-light: #a0b3b0;
$color-gray: #ddd;

$color-white: #fff;

// FONT
$font-stack: "Lato", sans-serif;