// COLORS
$color-primary: #6B38FB;
$color-primary-light: lighten($color-primary, 5%);
$color-primary-dark: darken($color-primary, 5%); 

$color-grey-light: #a0b3b0;
$color-grey: #ddd;

$color-white: #fff;

$color-font-dark: #000000;
$color-font-grey: lighten($color-font-dark, 20%);

// FONT
$font-stack: "Lato", sans-serif;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;