// COLORS
$color-primary: #6B38FB;
$color-primary-light: lighten($color-primary, 5%);
$color-primary-dark: darken($color-primary, 5%); 

$color-gray-light: #a0b3b0;
$color-gray: #ddd;

$color-white: #fff;

$color-font-dark: #000000;
$color-font-grey: lighten($color-font-dark, 20%);

// FONT
$font-stack: "Lato", sans-serif;