.footer {
    padding: 4rem 0;
    background-color: $color-black;

    & > .row:not(:last-child) {
        margin-bottom: 1rem;
    }

    &__navigation {

    }

    &__brand {

    }

    &__social {

    }

    &__copyright {
        margin-top: 4rem;
    }

    &__list {
        list-style: none;
        margin: 0 auto;
        text-align: center;
    }

    &__item {
        display: inline-block; 
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-white;
            text-transform: uppercase;
            padding: 1rem 1rem;
            font-size: 1.6rem;
            font-weight: 700;
        } 
    }
}