.header {
    height: 10vh;
    
    &__title-box {
        
        &--text {
            font-size: 2.6rem;
            text-transform: uppercase;
            color: $color-primary;           
        }
    }
}