.navigation {

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: transparent;
        border: 1px solid $color-primary;
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        position: fixed;
        top: 1rem;
        left: 1.5rem;
        z-index: 2000;
        text-align: center;
        cursor: pointer;
    }

    &__background {
        background-color: $color-grey;
        height: 100vh;
        width: 25rem;
        position: fixed;
        top: 0;
        left: 0;
        transition: all .4s;
        transform: translateX(-100%);
        z-index: 1000;
        
    }

    &__nav {
        padding-top: 6rem;
        height: 100vh;
        width: 25rem;
        position: fixed;
        top: 0;
        left: 0;
        transition: all .6s;
        transform: translateX(-100%);
        z-index: 1500;

    }

    &__subtitle {
        font-size: 2rem;
        font-weight: 300;
        padding: 1rem 1rem;
        color: $color-font-dark;
        text-transform: uppercase;
    }

    &__list {
        list-style: none;
        width: 100%;
    }

    &__item {

    }

    &__link {
        &:link,
        &:visited {
            font-size: 1.6rem;
            font-weight: 300;
            padding: 1rem 1rem;
            color: $color-font-dark;
            text-transform: uppercase;
        }
    }

    //FUNCTIONNALITY
    &__checkbox:checked ~ &__background {
        transform: translateX(0);
        box-shadow: 0 1rem 3rem rgba(#000000, .4);
    }

    &__checkbox:checked ~ &__nav {
        transform: translateX(0);
    }

    //ICON
    &__icon {
        position: relative;
        margin-top: 1.8rem;

        &,
        &::before,
        &::after {
            width: 2rem;
            height: 2px;
            background-color: $color-font-grey;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -.8rem;}
        &::after { top: .8rem;}
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked +  &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked +  &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked +  &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}